body {
  background: #292F39;
  overflow: hidden;
}

#card {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 10px;
  transition: all .1s;
}

#card.clicked {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px 2px black;
}